//
   Created by Rye on 1/12/2016.
extends ../includes/layout

block main-content

    //a lot of the below code is to handle moble phone displays
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button(type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                    span(class="sr-only") Toggle Navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
            a(class="navbar-brand" href="/") Portfolio Optimizer
                div(id="navbar" class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="#") Home
                        li
                            a(href="/portfolios") TheTool
                        li
                            a(href="#") Contact
    section.content
        div(ng-view)


    footer
        .container
            .text-center
                p &copy; 2015 Robust Consulting