//
   Created by Rye on 1/12/2016.
.container
    .jumbotron
        h1 Portfolio Optimizer
        p Welcome to Robust's portfolio optimzer application.
        p This application allows you to create, update, and remove portfilios.
    //main.jade
    .row
        div(ng-include="'/partials/main/optimize'")
