//
   Created by Rye on 1/12/2016.
.container
    .jumbotron
        h3 Welcome to Robust's portfolio modelling application.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")

